/*
    Author: Sebastian Jaculbe
    Created: February 11th, 2026
    Updated: February 15th, 2026
*/

html, body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header {
    background-color:burlywood;
    margin: -8px;
    width: auto;
    height: 140px;
    padding-top: 5%;
    text-align: center;
}

.projects {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin: 30px;
}

.project {
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid white;
}

.project:hover {
    background-color: whitesmoke;
    transform: scale(1.1);
    transition: ease-out 0.3s;
    box-shadow: 0 0 10px;
}

.links {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

a:hover {
    color:blue;
}

.complete {
    color: green;
}